.bold{
    background-color:burlywood ;
    color: magenta;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: blue;
    color: white;
}
.blue{
    background-color: lightpink;
}

